* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tablero td {
  width: 2em;
  height: 2em;
  border: 0.01em solid black;
  text-align: center;
}

#tablero button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: 0.2s;
}

#tablero button:hover {
  background-color: rgba(128, 128, 128, 0.26);
}

#tablero {
  border: 0.01em solid black;
  border-collapse: collapse;
}